#ppp1{
    text-align: center
}

#linkss :hover{
    color: blue;
}

#linkss{
    text-align: center;
}

h1{
    border-color: black;
    border-style: solid;
    text-align: center;
    background-color: rgb(255, 255, 0);
}

h2{
    border-color: black;
    border-style: solid;
    text-align: center;
    background-color: rgb(255, 255, 0);
}

h3 {
    padding-left: 1%;
}
#blogss1{
    background-color: rgb(13, 238, 238); 
}

#blogss2 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss3{
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss4{
    background-color: rgb(173, 30, 181);
}

#blogss5{
    background-color: rgb(173, 30, 181);
}

#blogss6 {
    background-color: rgb(173, 30, 181);
}

#blogss7 {
    background-color: rgb(173, 30, 181);
}

#blogss8 {
    background-color: rgb(173, 30, 181);
}

#blogss9 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss10 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss11 {
    background-color: aquamarine;
}

#blogss12 {
    background-color: aquamarine;
}

#blogss13 {
    background-color: aquamarine;
}

#blogss14 {
    background-color: aquamarine;
}

#blogss15 {
    background-color: aquamarine;
}

#blogss16 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss17 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss18 { 
    background-color: chartreuse;
}

#blogss19 {
    background-color: chartreuse;
}

#blogss20 {
    background-color: chartreuse;
}

#blogss21 {
    background-color: chartreuse;
}

#blogss22 {
    background-color: chartreuse;
}

#blogss23 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss24 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss25 {
    background-color: rgba(255, 0, 0, 0.908);
}

#blogss26 {
    background-color: rgba(169, 33, 179, 0.873);
    background-color: rgba(255, 0, 0, 0.908) !important; 
}

#blogss27 {
    background-color: rgba(255, 0, 0, 0.908);
}

#blogss28 {
    background-color: rgba(255, 0, 0, 0.908);
}

#blogss29 {
    background-color: rgba(255, 0, 0, 0.908);
}

#blogss30 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss31 {
    background-color: rgb(255, 255, 0);
    border-color: black;
    border-style: solid;
}

#blogss32 {
    background-color: rgb(247, 0, 255);
}

#blogss33 {
    background-color: rgb(247, 0, 255);
}

#blogss34 {
    background-color: rgb(247, 0, 255);
}

#blogss35 {
    background-color: rgb(247, 0, 255);
}

#blogss36 {
    background-color: rgb(247, 0, 255);
}

#blogss37 {
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 255, 0);
}

#blogss38 {
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 255, 0);
}





p{
    text-align: center;
}

#tityo{
    background-color: antiquewhite;
}

#linkss1 :hover {
    color: blue;
}

#linkss1{
    background-color: antiquewhite;
    text-align: center;
}

.img-container {
    border-color: black;
    border-style: solid;
    text-align: center;
    display: block;
}

